.container {

    /* margin: 0 auto; */
}

#yoho-header {
    height: 162px;

}
.imgopacity li:hover img{
opacity: 0.8;
}
/* 头部开始 */


.content-center {
    width: 1150px;
    margin-left:  auto;
    margin-right:  auto;
}
.tool-wrap {
    width: 100%;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    /* float: left; */
    background-color: #f4f4f4;
}
.wrap-left {
    float: left;
    height: 32px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
}

.wrap-left .caidan {
    width: 16px;
    height: 12px;
    font-size: 12px;
}

.wrap-left a {
    display: inline-block;
    height: 12px;
    font-size: 12px;
}

.tool-wrap .yoho-group-list {
    padding-top: 15px;
    width: 180px;
    display:none;
    position: absolute;
    top: 44px;
    left: 60px;
    background-color: #f4f4f4;
    
}
.tool-wrap .yoho-group-list li{
    padding-left: 15px;
}
.wrap-left:hover .yoho-group-list{
    background-color: #999;
    display: block;
    z-index: 999;
}

.warn {
    float: left;
    color: #444;
    width: 150px;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 1px;
    height: 32px;
    overflow: hidden;
}

.warn .jingao {
    font-size: 12px;
    margin-left: 20px;
    padding: 0 1px;
    width: 15px;
    height: 14px;
    margin-top: -2px;
    margin-right: 2px;
    vertical-align: middle;

}

.warn a {
    width: 15px;
    height: 14px;
    color: #d71d32;
}

.content-center .right {
    float: right;

}
.nav-drop-down {
   
    width: 90px;
    position: absolute;
    top: 32px;
    right: 226px;
    background-color: #ccc;
    box-sizing: border-box;
    display: none;

   
}
.nav-drop-down li{
    border-top:1px solid #999;
    padding-left: 15px;
}

.content-center .right ul {
    float: left;
}

.right li {
    float: left;
    padding-right: 10px;
    position: relative;

}

.mylogin {
    float: left;
    padding-right: 10px;
    position: relative;
}

.mylogin span {
    vertical-align: top;
    display: inline-block;
    line-height: 30px;
}

.mylogin a {
    color: #8e8e8e;
}

.tag-seprate {
    width: 0;
    margin-top: 11px;
    margin-right: 12px;
    height: 14px;
    float: left;
    border-left: 1px solid #dcdcdc;
}

.wechat {
    color: #86bf4a;
}

.wechat a {
    color: #86bf4a;
}

.iphone {
    color: red;

}

.iphone>a {
    color: #d71d32;
}

.head-wrapper {
    width: 100%;
}

h1 {}

.main-logo {
    background: url(../images/logo.png) no-repeat 50%;
    width: 182px;
    height: 53px;
    left: 43%;
    margin-top: 44px;
    position: absolute;
}

.main-logo .main-link {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

.main-nav-list {
    display: inline-block;
    vertical-align: top;
    padding-top: 45px;
    float: left;

}

.show {
    background-color: #3a3a3a;
}

.show1 {
    background-color: #ff88ae;
}

.show2 {
    background-color: #7bd3f9;
}

.show3 {
    background-color: #5e4b3c;
}

.show a,.show1 a,.show2 a,.show3 a {
    color: #fff;
}

.boy h5 a {
    color:#fff;
}
.show.boy a {
    color: #fff;
}

 
.main-nav-list li {
    float: left;
    padding: 8px 22px 5px;
    text-align: center;
}

.name-cn {
    font-size: 16px;
}

.name-en {
    font-size: 12px;
}

.func-area {
    float: right;
    width: 378px;
    padding-right: 18px;
    margin-top: 40px;
    overflow: hidden;
}

.search {
    width: 320px;
    height: 28px;
    box-sizing: border-box;
    display: inline-block;
}

.search form {
    height: 100%;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    overflow: hidden;
}

.search-hot {
    height: 16px;
    overflow: hidden;
}

.search-hot li {
    float: left;
    margin: 2px 10px 0px 0px;

}

.search-hot li a {
    color: #999;

}

.search-hot li a:hover {
    color: #d71d32;

}

.ipt {
    width: 240px;
    height: 100%;
    border: none;
    background: #fff;
    box-sizing: border-box;
    padding-left: 10px;
    color: #ccc;
}

.search-btn {
    display: block;
    color: #fff;
    width: 78px;
    height: 28px;
    float: right;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 5px;
}

.search-btn .icon-faj {
    text-align: center;
    float: right;
    position: absolute;
    top: 5px;
    left: 10px;
}

.go-cart {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    position: relative;
}

.go-cart a {
    display: block;
    width: 30px;
    height: 30px;
}

.iconcart {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 26px;
    color: #3a3a3a;

}
/* 主页导航 */
.nav-wrapper {
    /* color: #fff; */
    background-color: #3a3a3a;
    height: 40px;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 40px;
    padding-left: 15px;

}

.sub-nav-list ul {
    /* color: #fff; */
}

.sub-nav-list li {
    float: left;
    line-height: 40px;
    padding-right: 46px;
    box-sizing: border-box;
    margin-right: 36px;
    display: inline-block;

}

.sub-nav-list li a {
    padding-bottom: 10px;
    height: 19px;
    display: block;
    color: #fff;
}

.sub-nav-list li a:hover {
    border-bottom: 2px solid #fff;
}
/* 导航结束 */

/* 固定二维码开始 */
.code-down-box {
    position: fixed;
    top: 260px;
    right: 20px;
    width: 117px;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    z-index: 990;
    display: block;
}

.code-down-box .code-img {
    width: 116px;
    height: 116px;
    background-image: url(../images/yoho-ewm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.code-title {
    color: #000;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.code-down-box .fork {
    position: absolute;
    top: -5px;
    right: -2px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}
/* 固定二维码结束 */

/* 主页开始 */
.home-page {
    position: relative;
    margin: 20px auto 0;
}

.slide-container {
    float: left;
    height: 510px;
    position: relative;
    left: 0;
    right: 0;

}

.slide-container .slide-wrapper {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.slide-wrapper ul {
    position: relative;
    height: 100%;
}

.home-page .slide-wrapper ul li {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.slide-wrapper li img {
    width: 1150px;
    height: 450px;
}

.thumb-pagniation {
    width: 1148px;
    margin: 6px auto 0;

}

.thumb-pagniation ul li {
    position: relative;
    float: left;
    margin-left: 4px;
    width: 138px;
    height: 54px;

}

.thumb-pagniation li a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
}

.slide-switch .prev {
    position: absolute;
    top: 188px;
    left: 0px;
    /* left: 50%; */
    /* margin-left: -575px; */
}

.slide-switch .next {
    position: absolute;
    top: 188px;
    right: 0;
    /* right: 50%; */
    /* margin-right: 100px; */
}

.slide-switch a {
    display: block;
    position: absolute;
    top: 50%;
    margin: -30px 0 0;
    margin-right: 0px;
    width: 60px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    z-index: 2;
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
    opacity: .55;

}

.home-page .singlehot {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: -8px;
}

.floor-header {

    margin: 80px 0 40px;
}

.floor-title {
    margin: 0 auto;
    width: 298px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
}

.g-list {
    float: left;
}

.g-list li {
    float: left;
    margin-left: 6px;
    margin-bottom: 8px;
}

.g-list li a {
    position: relative;
    display: block;
    overflow: hidden;
}

.preference-brand {
    overflow: hidden;
}

.preference-brand .img-list {
    position: relative;
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.img-list li {
    float: left;
    margin-left: 4px;
}

.img-brand-switch {
    display: block;
    position: relative;
}

.img-brand-switch .prev {
    position: absolute;
    top: -85px;
    left: 4px;
}

.img-brand-switch .next {
    position: absolute;
    top: -85px;
    right: 0;
}

.img-brand-switch a {
    display: block;
    position: absolute;
    top: 50%;
    margin: -20px 0 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    background: #fff;
    opacity: .55;
}

.logo-brand {
    width: 100%;
    height: 282px;
    overflow: hidden;
}

.logo-brand ul {
    width: 1158px;
}



.logo-brand ul li {
    float: left;
    margin: 8px 8px 0 0;
    width: 185px;
    height: 86px;
    line-height: 86px;
    font-size: 0;
    text-align: center
}

.logo-brand .logo-brand-switch {
    position: relative;
    line-height: normal;

}

.logo-brand .logo-brand-switch .prev {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -48px;
    font-size: 32px;
    font-weight: 600;
}

.logo-brand .logo-brand-switch .next {
    position: absolute;
    right: 50%;
    top: 41px;
    margin-right: -61px;
    font-size: 32px;
    font-weight: 600;
}

.logo-brand .brand-more {
    font-size: 16px;
}

/* 潮流上衣 */
.tpl-recommend {
    width: 100%;
    position: relative;
}

.tpl-recommend .header-navs {
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}

.tpl-nav {
    width: 185px;
    float: left;
    overflow: hidden;
}

.tpl-keywords {
    margin-bottom: 8px;
}

.tpl-category {
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;
    overflow: hidden;
    margin: 0 auto;
}

.tpl-nav .tpl-category a {
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #000;
    overflow: hidden;
}

.tpl-brands {
    float: left;
    width: 378px;
    height: 512px;
    overflow: hidden;
    margin-left: 8px;
}

.tpl-recommend .tpl-brands li {
    margin-bottom: 8px;
}

.tpl-brands li a {
    height: 248px;
}

.tpl-recommend a img {
    display: block;
    width: 100%;
    height: 100%;
}

.tpl-types {
    float: left;
    overflow: hidden;
    margin-top: -8px;
    width: 579px;
}

.tpl-types li {
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.tpl-types li a {
    width: 185px;
    height: 248px;
}

.tpl-products {
    overflow: hidden;
    margin-left: 0;
    width: 100%;
}

.tpl-products ul li {
    float: left;
    margin-left: 8px;
}

.tpl-products ul li a {
    width: 222px;
    height: 298px;
}

/* 新品上架 */
#newarrivals {
    width: 100%;
    position: relative;
}

#newarrivals .header-navs {
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}

.goods-container {
    margin-right: -10px;
    width: inherit;
    padding-top: 0;
}

.tag-container {

    font-size: 12px;
    height: 22px;
    line-height: 22px;

}

.goods-info {
    margin-right: 5px;
}

.goods-data-img {
    height: 298px;
    width: 222px;
    overflow: hidden;
}

.goods-data-img a {

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
}

.goods-data-img a .lazy {
    width: 100%;
}

.good-info,
.lifestyle .goods-container .good-info {

    width: 222px !important;
    height: 408px !important;

}

.goods-info {
    float: left;
}

.goods-info .goods-data-text {

    width: 222px;
    height: 80px;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}

.goods-data-text>a {
    margin-top: 14px;
    line-height: 1.5;
    display: block;
    overflow: hidden;
    padding-left: 43px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.good-info .good-detail-text>.price {
    margin-top: 5px;
    line-height: 22px;
}

.price .sale-price {
    display: block;
    text-align: center;
}

.loading {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.loading a {
    display: block;
    height: 35px;
    width: 120px;
    margin: 0 auto 40px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}
/* 主页结束 */


/* 底部开始 */
.footer {
    font-size: 12px;
}

.footer * {
    box-sizing: border-box;
}

.footerbottom {
    width: 100%;
    background: #000;
}

.footer .promise {
    padding: 20px 0 10px;
    background: #000;
}

.left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    float: left;
}

.left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
}

.footer .red {
    color: #e01;
}

.footer .rgbf {
    color: #fff;
}

.footer-help {
    background: #000;
    font-size: 12px;
    overflow: hidden;
}

.footer-help ul {
    width: 120%;
}

.footer-help li {
    width: 180px;
    margin: 0;
    padding: 0;
}

.footer-help p {
    line-height: 24px;
    padding: 0;
}

.footer-help p span {
    color: #fff;
}

.footer-help p a {
    color: #666;
    font-size: 12px;
}

.footer-link {
    background: #000;
    padding: 10px 0 14px;
    font-size: 12px;
}

/* 版权 */
.footer-link .copyright {
    text-align: center;
    color: #666;
    padding-top: 20px;
    line-height: 20px;
}

.copyright a {
    color: #666;
}

/* 关于我们 */
.about-us {
    background: #000;
    line-height: 20px;
    color: #666;
    padding-left: 300px;
    position: relative;
}

.left-flag {
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 12px;
}

.left-flag .govicon {
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin-right: 8px;
    background: #fff;
    width: 76px;
    height: 34px;
}

.footer-link .links {
    word-break: keep-all;
    margin-left: 14px;
}

.about-us a {
    color: #666;
}

.about-us span {
    padding: 0 10px;
}

.police {
    background: url(../images/police.png) no-repeat;
    height: 20px;
    display: inline-block;
    padding-left: 25px;
}
.footer-link-container {

    background: #000;
    height: 48px;
    overflow: hidden;
    width: 100%;
}
.footer-link-container>div {
    padding-top: 15px;
    border-top: 1px solid #262626;
}
.link-info{  
    font-size: 12px;
    color: #fff;
    width: 60px;
    height: 48px;
}
.link-section :first-child{
    margin-left: 11px;
}
.link-section li{
    float: left;
    display: inline-block;
    height: 48px;
    margin-left: 12px;
}
.link-section li a{
    color: #666;
    font-size: 12px;
}

/* 右边固定 */

.right-floating-layer {
    position: fixed;
    width: 60px;
    display: none;
    right: 5px;
    bottom: 20px;
    margin-left: 595px;
    z-index: 4;
    
}
.qrcode-hover-box {
    width: 71px;
    position: relative;
    left: -11px;
    bottom: 47px;
    text-align: right;
}
.qrcode-hover-box .layer-box{
    display: block;
    width:60px;
    height: 60px;
    background-color:#000;
    opacity: 0.5;
}
.icon-ewm{
    display: block;
    color: #fff;
    width:28px;
    height: 28px;
    font-size: 30px;
    padding-left: 15px;
    padding-top:10px;
    background-size:cover;
    text-align: center;
    
}
.download-app-box {
    position: absolute;
    bottom: -87px;
    left: -286px;
    width: 296px;
    height: 180px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    z-index: 1000;
    display: none;
    border: none;
    *zoom: 1;
}
.download-app-left{
    position: relative;
    float: left;
    width: 130px;
    height: 180px;
    padding-top: 10px;
    text-align: center;
    background-color: #f4f4f4;
}
.download-app-box .qr-code-img img{
    width: 94px;
    height:96px;
}
.download-app-right{
    position: relative;
    float: left;
    width: 130px;
    height: 180px;
    padding-top: 10px;
    text-align: center;
    background-color: #f4f4f4; 
  
}
.download-app-right .qr-more a{
    color: red;
}
/* 返回顶部 */
.return-top{
    width: 60px;
    height: 60px;
    background-color: #000;
    position: absolute;
    bottom: -18px;
    right: 11px;
    opacity: 0.6;
}
.return-top span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 36px;
   padding-left: 11px;
   padding-top: 10px;
   color: #fff;
}